# Ignore environment file
secrets/

# Ignore Python virtual environment
backend/venv/

**/__pycache__/
frontend/node_modules/
backend/static/images/
frontend/Mikoshi.env

nginx/conf.d/mikoshi.conf.backup
nginx/yubandao.com_nginx/