services:
  frontend:
    build: ./frontend
    depends_on:
      - backend
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  backend:
    build: ./backend
    env_file:
      - ./secrets/Mikoshi-production.env
    environment:
      - DATABASE_URL=postgresql://user:password@postgres:5432/mydb
    volumes:
      - backend_static:/app/static/images
    depends_on:
      - db-init
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  db-init:
    build: ./backend
    command: ["python", "init_db.py"]
    env_file:
      - ./secrets/Mikoshi-production.env
    environment:
      - DATABASE_URL=postgresql://user:password@postgres:5432/mydb
    depends_on:
      - postgres

  postgres:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=mydb
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3" 

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend
      - backend
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/yubandao.com_nginx:/etc/nginx/yubandao.com_nginx:ro
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  postgres_data:
  backend_static:
