services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    env_file:
      - ./secrets/Mikoshi.env
    environment:
      - VITE_API_BASE_URL=http://localhost
    depends_on:
      - backend

  backend:
    build: ./backend
    env_file:
      - ./secrets/Mikoshi.env
    environment:
      - DATABASE_URL=postgresql://tinybooger:473k979k@host.docker.internal:5432/mikoshidb
    volumes:
      - backend_static:/app/static/images



  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d/mikoshi.conf.dev:/etc/nginx/conf.d/mikoshi.conf:ro
      - /dev/null:/etc/nginx/conf.d/default.conf:ro

volumes:
  postgres_data:
  backend_static: